<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
<body>

    <%- include("../partials/header")%>

    <% products.forEach(p => { %>
        <div class="products">
            <article class="product-2 popular">
                <figure>
                    <img src="/images/<%= p.image %>" alt="">
                </figure>
                <div class="product-details">
                    <ul>
                        <li class="price-actual"><%= p.price %></li>
                        <li class="discount">10% OFF</li>
                    </ul>
                    <h5><%= p.name %></h5>
                </div>
            </article>
        </div>
    <% }) %>

    <%- include("../partials/footer")%>
    
</body>
</html>